/*Styles*/

/*NAV BAR STYLES*/

.navbar-inverse {
  background: #2E2F31;
  border: 0;
}

.navbar a {
  margin-bottom: 0;
  color: white;
}

.container p {
  font-size: 16px;
}

.container h4 {
  font-size: 12px;
}

.container h2 {
  font-size: 12px;
}

.dropdown-menu {
  background: #2E2F31;
  border: 0;
}

/*BOTTOM STYLES*/
.footer p {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E2F31;
  color: white;
  text-align: center;
}

img svg {
  display: block;
  margin: 0 auto;
}

/*GENERAL BODY FORMATTING*/

h1, p {
  padding-left: 2px
  padding-right: 2px;
}

.glyphicon-large {
  font-size: 40px;
}

/*All of the below text edits the jumbotron and nav bar with bootstrap modifications*/

.jumbotron {
  background-image: url("../Images/Schneider Economics Logo-page-001.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 1;
  padding-bottom: 0;
  width: 100vw;
  height: 300px;
}

.information {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: black;
  text-align: center;
  padding-top: 1;
  padding-bottom: 0; 
}

.contact h1 {
  padding-left: 2px
  padding-right: 2px;
  font-size: 2px;
  text-align: center;
}


#caption h1, p {
  text-align: center;
}

div#layout {
  text-align: center;
}


.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: red;
}

#limit line {
  stroke-width: 3;
  stroke-dasharray: 50;
}

.grid path {
  stroke-width: 0;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}


/* D3 Graphic Styling */
body {
  font-family: 'Open Sans', sans-serif;
}

div#layout {
  text-align: center;
}

div#graphic {
  background-color: #2F4A6D;
  color: white;
}


.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: red;
}

line#limit {
  stroke-width: 3;
  stroke-dasharray: 50;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

h4 {
  font-size: 12px;
  color: white;
}

/* Social Media Buttons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: right;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


.fa-linkedin {
  background: #0077B5;
  color: white;
  border-radius: 8px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 8px;
}

.fa-youtube {
  background: #ff0000;
  color: white;
  border-radius: 8px;
}

.fa-instragram {
  background: #FFFFFF;
  color: white;
  border-radius: 8px;
}

.fa-envelope {
  background: navy;
  color: white;
  width: 120px;
  font-size: 60px;
  background-size: 50px;
  border-radius: 8px;
  text-align: center;
}

.fa-link {
  background: darkblue;
  color: white;
  width: 120px;
  font-size: 60px;
  background-size: 50px;
  border-radius: 8px;
  text-align: center;
}

/* Blog Page */

.blog-post {
  text-align: center;
}
